/*
font-family: 'Caveat', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Bungee Shade', cursive;
*/

body{
  background: #0b0f40;
  background-image: url(../links/background/overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  padding: 0px;
  margin: 0px;
}

p{
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}

h2{
  font-family: 'Bungee Shade', cursive;
  font-size: 42px;
  color: #e2cb1e;
  text-align: center;
}

.guide{
  display: block;
  width: 1400px;
  height: 700px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.step1{
  display: block;
  position: absolute;
  top: 150px;
  left: 430px;
}

.step1 p{
  color: floralwhite;
  text-align: center;
}

.step2{
  display: block;
  position: absolute;
  top: 180px;
  left: 200px;
}

.step2 p{
  color: lightslategray;
}

.step3{
  display: block;
  position: absolute;
  top: 210px;
  left: 400px;
}

.step3 p{
  text-align: center;
  line-height: 22px;
}

.madeWith{
  position: absolute;
  bottom: 60px;
  width: 1400px;
  height: 45px;
  margin: 0px;
  font-size: 50px
}

#music-switch{
  position: absolute;
  overflow: hidden;
  width: 65px;
  height: 65px;
  top: 30px;
  right: 30px;
  background-image: url(../links/icons/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -64px;
  z-index: 2;
}

.center-wrapper{
  width: 100vw;
  height: 100vh;;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.portfolio-item1{
  position: absolute;
  top: 20px;
  right: 100px;
  width: 0px;
  height: 500px;
  overflow: hidden;
  background: #0b0b0b;
  color: lime;
  border-radius: 5px;
  padding: 0px;
  z-index: 50;
  line-height: 30px;
}

.portfolio-item1 span{
  color:lime;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}

.portfolio-item2{
  position: absolute;
  top: 150px;
  right: 200px;
  width: 1000px;
  height: 400px;
/*  background: blue;*/
  border-radius: 5px;
  padding: 10px;
  z-index: 50;
}

.portfolio-item2 h2{
  font-family: 'Bungee Shade', cursive;
  font-size: 45px;
  color: #e2cb1e;
  position: absolute;
  top: -290px;
}

.portfolio-item2 img{
  position: absolute;
  top: 800px;
}

[data-info="css3"]{
  left: 200px;
  z-index: 999;
}

[data-info="html5"]{
  left: 400px;
  z-index: 999;
}

[data-info="js"]{
  left: 0px;
  z-index: 999;
}

.portfolio-item3{
  z-index: 999;
}

.wrapper{
  background: white;
  width: 1400px;
  height: 700px;
  position: relative;
  background-image: url(../links/background/background.png);
  background-position: 1px;
  transition: background 0.2s linear;
  overflow: hidden;
}

#character{
  width: 90px;
  position: absolute;
  bottom: 300px;
  left: 102px;
  transition: all 0.09s ease-in-out, transform 0.8s ease-in-out;
  transform: rotate(0deg);
  z-index: 10;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.jumpi{
  position: absolute;
  bottom: 340px;
  left: 15px;
  border-radius: 30px;
  width: 90px;
  height: 50px;
  color: red;
  font-family: fantasy;
  font-size: 40px;
  text-align: center;
}

.grass{
  display: block;
  width: 1400px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url(../links/background/grass.png);
  background-position: 1px;
  transition: background 0.2s linear;
}

.github{
  position: absolute;
  top: 35px;
  right: 100px;
  z-index: 2;
}

.hours-spent{
  color: orangered;
}

.html-hours{
  font-size: 5px;
  font-family: 'Press Start 2P', cursive;
}
.hours-spent-wrapper{
  display: flex;
  align-content: center;
  justify-content: space-around;
  position: absolute;
  bottom: 200px;
  left: 0px;
  height: 200px;
  width: 1400px;
}

[data-info="html-hours"]{
  opacity: 0;
  font-size: 10px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

[data-info="css-hours"]{
  opacity: 0;
  font-size: 10px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

[data-info="js-hours"]{
  opacity: 0;
  font-size: 10px;
  text-align: center;
  font-family: 'Caveat', cursive;
}

[data-info="timeSpent"]{
   font-family: 'Bungee Shade', cursive;
  font-size: 42px;
  color: #e2cb1e;
  text-align: center;
  margin-top: -100px;
}

.portfolio-item4{
  height: 700px;
  width: 1400px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

[data-info="frameworksAndLanguages"]{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1400px;
  height: 300px;
  bottom: 100px;
}

[data-info="es6-l"]{
  position: absolute;
  bottom: -300px;
  right: 630px;
}

[data-info="less-l"]{
  position: absolute;
  left: 1400px;
  bottom: 90px;
}

[data-info="jquary-l"]{
  position: absolute;
  bottom: 90px;
  right: 1400px;
}

[data-info="watImLearning"]{
  margin-top: -170px;
}


[data-info="langEnFrameworks"]{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 1400px;
  height: 300px;
  bottom: 100px;
}

.portfolio-item5{
  height: 700px;
  width: 1400px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

[data-info="watIkWilLeren"]{
  margin-top: -170px;
}

[data-info="react-l"]{
  position: absolute;
  top: 700px;
  right: 50px;
}

[data-info="node-l"]{
  position: absolute;
  top: 700px;
  left: 50px;
}

[data-info="php-l"]{
  position: absolute;
  top: -500px;
  left: 580px;
}

[data-info="watImLearning"]{
  margin-top: -170px;
}

[data-info="vscode"]{
  display: inline-block;
}

[data-info="gitKraken"]{
  display: inline-block;
}

[data-info="DigitalOcean"]{
  display: inline-block;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}